/* alegreya-sans-sc-regular - latin */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/alegreya-sans-sc-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/alegreya-sans-sc-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-sans-sc-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/alegreya-sans-sc-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/alegreya-sans-sc-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-sans-sc-v12-latin-regular.svg#AlegreyaSansSC') format('svg'); /* Legacy iOS */
}


img {
    border-radius: 2rem;
    
}

div.content.monospaced
{
    padding-top: 0rem;
/*     padding-bottom: 0rem; */
}


/* slight modifications to the css here,
 due to long title*/
@media (min-width: 48em) {
  .content.container {
    max-width: 38rem;
    margin-left: 30rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content.container {
    margin-left: 30rem;
    margin-right: 4rem;
}
